.cart-menu-btn .cart-indicator{
    width: 13px;
    height: 13px;
    background-color: antiquewhite;
    padding: 2px;
    border-radius: 2px;
    margin-color: white;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: -3px;
    right: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-msg{
    width: 100%;
    padding: 14px;
    background-color: #dff0d8;
    color: #468847;
}

.error-msg{
    width: 100%;
    padding: 14px;
    background-color: #f0d0d3;
    color: #df786f;
}
.btn-box{
    display: flex;
    justify-content: space-between;

}

.products-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 24px;
    transition: all 0.3s ease-in-out;
    padding: 12px;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.btn-box:hover {
    box-shadow: 5px 5px 20px 0px rgba(10, 0, 0, 1);
}


.product .quantity-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #b9b5b5;
    border-radius: 8px;
}
.product .quantity-box .action-btns{
    font-weight: 600;
    cursor: pointer;
}

.product .product-img{
    width: 215px;
    height: 215px;
}

.product .product-img img{
    width: 100%;
    height: 100%;
}

.product .product-text{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.product .product-text.title{
    color: #753314;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.product .product-text.description{
    height: 50px;
    overflow: hidden;
}

.product .product-text.price{
    font-weight: 600;
}

.product .product-text.cart-price{
    font-weight: 600;
    color: #753314;
}

.cart-btn{
    background-color: #753314 !important;

}

.cart-menu-btn{
    position: relative;
}

.product .quantity-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #b9b5b5;
    border-radius: 8px;
}

.product .quantity-box .action-btns{
    font-weight: 600;
    cursor: pointer;
}
.link{
    text-decoration: none;
}
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-box{
    display: flex;
    justify-content: space-between;
}

.summary-box{
    width: 300px;
    margin: 30px auto;
    border: 1px solid #b9b5b5;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.summary-box h5{
    display: flex;
    border-bottom: 1px solid #e00a02;
    text-align: center;
    padding: 0px;
}

.summary-box div{
    display: flex;
    justify-content: space-between;
}

/* modal css */
.shade-area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.delete-icon{
    background-color: #e00a02;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}

/* modal css */
.shade-area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

